
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
#judul{
    border-bottom: solid #28a745;
    text-align: center;
    font-size: 30px;
    color: #28a745;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    margin: auto;
    width: 350px;
    background-color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid #28a745;
    border-radius: 5px;
}
#header{
    font-size: 10px;
    color: white;
    text-align: center;
    background-color: #28a745;
    padding: 10px;
    padding-bottom: 10px;

}


#php{
    text-align: center;
    background:#28a745 ;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}


#pilih1{
    width: auto;
    margin: auto;
    font-size: 20px;
    text-align: center;
    border: #28a745;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
}
#pilih2{
    width: auto;
    margin: auto;
    font-size: 20px;
    text-align: center;
    border: #28a745;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    border-style: solid;
}
#bawahan{
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    background: #28a745;
    color: #fff;
    position: absolute;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#sebelumbawah{
    margin: auto;
    width: auto;
    border-bottom: solid #28a745;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: #28a745;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}