body{
    background: white;
    font-size: 20px;

}
#judul{
    border-bottom: solid #28a745;
    text-align: center;
    font-size: 30px;
    color: #28a745;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    margin: auto;
    width: 350px;
    background-color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid #28a745;
    border-radius: 5px;
}
#header{
    font-size: 10px;
    color: white;
    text-align: center;
    background-color: #28a745;
    padding: 10px;
    padding-bottom: 10px;

}
#data{
    width: 320px;
    margin: 10px;
    font-size: 20px;
    text-align: left;
    border: #28a745;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
}
#kirim{
    width: 350px;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: #28a745;
    border: solid #28a745;
    padding-top: 10px;
    padding-bottom: 10px;
}
#php{
    text-align: center;
    background:#28a745 ;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
#close{
    width: 325px;
    margin: 10px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: #dc3545;
    border: #dc3545;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
}

#pilih1{
    width: 320px;
    margin: 10px;
    font-size: 20px;
    text-align: left;
    border: #28a745;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
}
#pilih2{
    width: 320px;
    margin: 10px;
    font-size: 20px;
    text-align: left;
    border: #28a745;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
}
#bawahan{
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    background: #28a745;
    color: #fff;
    position: absolute;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#sebelumbawah{
    border-bottom: solid #28a745;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    color: #28a745;
    padding-top: 50px;
    bottom: 20px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
}